<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subject Management</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="">
</head>
<body>
    <div class="container-fluid">
        <div class="row vh-100">
         
            {% include 'Menu.html' %}

            
            <div class="col-md-10 content">
                
                <div class="header bg-info text-white d-flex justify-content-between align-items-center p-3">
                    <span>"Vivez comme si vous deviez mourir demain. Apprenez comme si vous deviez vivre éternellement."</span>
                    <div class="user-info d-flex align-items-center">
                        <span>admin</span>
                        <img src="image/images.png" alt="User Icon" class="rounded-circle ml-2" width="30">
                    </div>
                </div>

           
                <div class="d-flex justify-content-between align-items-center my-3 px-4">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Students</li>
                        </ol>
                    </nav>
                    <a href="{% url 'address:create-adress' %}"><button class="btn btn-info">  <i class="fas fa-plus-circle"></i> Create User</button></a>
                </div>


                <div class="card m-4 p-4">
                    <h3>SUBJECT</h3>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="form-group">
                            <label for="classSelect">Select Class Name:</label>
                            <select id="classSelect" class="form-control">
                                <option>affiche 25</option>
                                <option>affiche 35</option>
                                <option>affiche 65</option>
                                <option>tout</option>
                                
                            </select>
                        </div>
                        <input type="text" class="form-control w-25" placeholder="Search...">
                    </div>
                    
      
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>pays</th>
                                <th>ville</th>
                                <th>commune</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for adresse in adresses %}
                            <tr>
                                <td>1</td>
                                <td>{{ adresse.country|capfirst}}</td>
                                <td>{{ adresse.city|capfirst}}</td>
                                <td>{{ adresse.street|capfirst}}</td>
                                <td>
                                    <a  class="text-success" href="{% url 'address:update-adress' adresse.id %}"><i class="fas fa-edit"></i></a>
                                    <a class="text-danger ml-2" data-toggle="modal" data-target="#deleteConfirmationModal" onclick="setDeleteUrl({{ adresse.id }})"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                      {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="deleteConfirmationModalLabel">ATTENTION !!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiment supprimer cet Adresse ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <form id="deleteForm" method="post">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    // Fonction qui met à jour l'URL du formulaire de suppression avec l'ID de l'élève
    function setDeleteUrl(adresseID) {
        // Récupérer le formulaire de la modale
        const deleteForm = document.getElementById('deleteForm');

        // Construire l'URL de suppression avec l'ID de l'élève
        const deleteUrl = "{% url 'address:delete-adress' 0 %}".replace("0", adresseID);

        // Mettre à jour l'attribut action du formulaire avec l'URL de suppression
        deleteForm.action = deleteUrl;
    }
</script>

</body>
</html>