<div class="col-md-2 sidebar bg-light border-right p-0">
    <div class="log">
       <p class="text center"><span>MonEtab</span></p>
    </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
            <li class="list-group-item"><a href="#"><i class="fas fa-chalkboard-teacher"></i> Teachers</a></li>
            <li class="list-group-item"><a href="#"><i class="fas fa-user-graduate"></i> Students</a></li>
            <li class="list-group-item"><a href="#"><i class="fas fa-user-check"></i> Registration Request</a></li>
            <li class="list-group-item"><a href="#"><i class="fas fa-users"></i> Parents</a></li>
            <li class="list-group-item"><a href="#"><i class="fas fa-school"></i> Classes</a></li>
            <li class="list-group-item"><a href="#"><i class="fas fa-calendar-check"></i> Attendance</a></li>
            <li class="list-group-item"><a href="#"><i class="fas fa-calendar-alt"></i> Events</a></li>
            <li class="list-group-item"><a href="#"><i class="fas fa-bell"></i> Notify</a></li>
            <li class="list-group-item"><a href="#"><i class="fas fa-bus"></i> Transport</a></li>
            <li class="list-group-item"><a href="#"><i class="fas fa-cog"></i> General Settings</a></li>
        </ul>
     
        <div class="logout-section text-center p-3">
            <button class="btn btn-danger w-100"><i class="fas fa-sign-out-alt"></i> Logout</button>
        </div>
        
</div>